body {
    margin: 0;
    font-family: "Smythe", system-ui;
    padding: 0;
} 

header {
    background-color: #EBDFC7;
}

.header__text{
    margin-top: 15px;
}

img{
    width: 150px;
    padding: 20px;
}

.food-img{
    width: 150px;
    height: auto;
    padding: 0;
}



.container {
    display: flex;
    justify-content: space-between;
}

.menu__container {
    display: flex;
    justify-content: space-between;
}


.food_container{
    display: flex;
    padding: 20px;
}

.menu {
    margin: 20px;
    border-bottom: 1px solid grey;
}

.food_desc_container{
    margin-top: 10px;
}

.add-btn{
    margin: 80px 20px;
}