*,
body {
    margin: 0;
    font-family: "Smythe", system-ui;
    padding: 0;
}


header {
    background-image: url('./images/burger.png');
    padding: 40px;
    max-width: 100%;
    min-width: 80%;
    background-size: cover;
    color: white;
}

.header-text{
    padding: 0;
    margin: 0 10px;
}

.food-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
}
.menu-items{
    display: flex;
    justify-content: space-between;
}

.food{
    display: flex;
}

/* .food-img{
    width: 90px;
    height: auto;
} */


.fa-plus {
    margin-top: 6px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 50px;
}

.fa-plus:hover,
.fa-plus:active{
    font-size: 25px;
}

.menu {
    border-bottom: 1px solid grey;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 80%;
}

.orders {
    margin: 0 auto;
    width: 80%;
}

.orders-container{
    margin-top: 20px;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 28px;
}

.total-orders {
    border-top: 1px solid black;
}

.total-order {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 28px;
}

button {
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #16db99;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 20px 0;
}